*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: "Poppins", sans-serif;
    color: #444;
    background-color: #f3f3f3;
    height: 100vh;
    padding: 2rem;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.logo{
    height: 10rem;
}

.welcome{
    font-size: 2rem;
    font-weight: 00;
}

.login{
    display: flex;
}

.login-input{
    padding: 0.5rem 2rem;
    font-family: inherit;
    color: inherit;
    font-size: 1.6rem;
    border-radius: 10rem;
    margin-right: 1rem;
    width: 20rem;
    border: 1px solid #fff;
    transition: all 0.3s;
}

.login-input:focus{
    border-color: #ccc;
}

.login-input::placeholder{
    color: #bbb;
}

.login-btn{
    background-color: none;
    font-size: 2rem;
    color: inherit;
    cursor: pointer;
    transition: all 0.3s;
}

.login-btn:hover,
.login-btn:focus{
    color: #777;
}

.app{
    position: relative;
    margin: 4rem auto;
    max-width: 100rem;
    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-template-rows: auto repeat(3, 15rem) auto;
    gap: 2rem;

    /* Login Animation */
    opacity: ;
    transition: all 0.3s;
}

.balance{
    grid-column: 1 / span 2;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.balance-label{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: -0.2rem;
}

.balance-date{
    font-size: 1.4rem;
    color: #888;
}

.balance-value{
    font-size: 4.5rem;
    font-weight: 400;
}

.movements{
    
}